Package: barchart-tanuki-service
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: adduser, realpath, mc, oracle-java7-installer
Maintainer: Barchart Inc <support@barchart.com>
Homepage: https://github.com/barchart/barchart-service
Description: Barchart Tanuki Service Wrapper
